<!DOCTYPE html>
<html>
<head>
    @{
        var up = SessionManager.GetInstance().GetUserProfile();
        var isAdmin = SessionManager.GetInstance().AdminRole();
        var isGPDAdmin = SessionManager.GetInstance().AdminGPDRole();
        int pageSize = GPD.Utility.ConfigurationHelper.API_ProjectsListPageSize;
    }
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="SHORTCUT ICON" href="/Content/img/icon.ico" />
    <title>@ViewBag.Title</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        var __RootUrl = '@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))';
        var __UserId = '@(up == null ? "": up.UserId)';
        var __UserEmail = '@(up == null ? "": up.Email)';
        var __ItemPerPage = @(pageSize);
    </script>
</head>
<body data-ng-app="Project">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand header-logo" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Project", "Project", "Home", new { area = "" }, null)</li>
                    @if (Request.IsAuthenticated && isGPDAdmin)
                    {
                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    }
                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown" data-ng-controller="PartnerCtrl as $ctrl" ng-cloak>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Partner: {{$ctrl.data.LogedinUserProfile.selectedPartner}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li data-ng-repeat="d in $ctrl.data.LogedinUserProfile.partnerNames"><a data-ng-href="" data-ng-click="$ctrl.SelectPartner(d)">{{d}}</a></li>
                            </ul>
                        </li>
                        if (isGPDAdmin == true)
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Manage
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("User", "ManageUser", "Account", routeValues: null, htmlAttributes: new { id = "aManageUser" })</li>
                                    <li>@Html.ActionLink("Partner", "ManagePartner", "Account", routeValues: null, htmlAttributes: new { id = "aManagePartner" })</li>
                                </ul>
                            </li>
                        }
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GPD</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/custom/script")
    @RenderSection("scripts", required: false)
</body>
</html>
